<p class="cart-attribute__field">
  <input type="hidden" name="attributes[{{ block.settings.internal_label }}]" value="No" form="cart">
  <input id="termsbox_id" {% if block.settings.mandatory %}class="required" required {% endif %} type="checkbox" name="attributes[{{ block.settings.internal_label }}]" value="Yes" form="cart">
  <label for="termsbox_id" style="cursor: pointer;">
  	{{ block.settings.prelink_text }}
  	<a href="{{ block.settings.terms_page.url }}" target="_blank">{{ block.settings.link_text }}</a>
  	{{ block.settings.postlink_text }}
  </label>
</p>
<p class="terms-notice ">{{ block.settings.terms_notice }}</p>

<style>
	#termsbox_id {
		transform: scale({{ block.settings.checkbox_scale }});
	}
  .checkout_terms button{
		pointer-events: none;
		opacity: 0.5;
	}
</style>


<script>

  document.addEventListener('DOMContentLoaded', () => {

    let termsContainer = document.querySelector('.checkout_terms');
    let checkoutButton = document.querySelector('.checkout_terms > button');
    let no_terms = termsContainer.classList.add("no_terms");

    document.getElementById('termsbox_id').addEventListener('change', (event) => {
    if (event.currentTarget.checked) {
      document.getElementById("termsbox_id").value = "Agreed at " + (new Date()).toLocaleString();
      checkoutButton.style.pointerEvents = 'auto';
      checkoutButton.style.opacity = 1.0;
      termsContainer.classList.remove("no_terms");
    } else {
      {% if block.settings.mandatory %}
      checkoutButton.style.pointerEvents = 'none';
      checkoutButton.style.opacity = 0.5;
      termsContainer.classList.add("no_terms");
      {% else %}
      checkoutButton.style.pointerEvents = 'auto';
      checkoutButton.style.opacity = 1.0;
      termsContainer.classList.remove("no_terms");
      {% endif %}
    }
  });


  // document.querySelector(".no_terms").addEventListener('onclick', (event) => {
  //   document.querySelector(".terms-notice").classList.remove('hidden');
  // });


});




</script>