        {%- assign first_line_item = cart.items | first -%}


        {%- if first_line_item.product.tags contains 'Udstyr' -%}
            {%- assign collection_picker = section.settings.collections_udstyr -%}
            {%- assign dynamic_heading =  'cart.general.equipment' | t -%} 
        {%- elsif first_line_item.product.tags contains 'Herre og Dameski' -%}
            {%- assign collection_picker = section.settings.collections -%}
            {%- assign dynamic_heading =  'cart.general.skis' | t  -%} 
        {%- elsif first_line_item.product.tags contains 'Snowboard' -%}
            {%- assign collection_picker = section.settings.collections_snowboard  -%}
            {%- assign dynamic_heading =  'cart.general.snowboard' | t -%} 
        {%- elsif first_line_item.product.tags contains 'Beklædning' -%}
          {%- assign collection_picker = section.settings.collections_beklaedning  -%}
          {%- assign dynamic_heading =  'cart.general.beklaedning' | t -%} 
        {%- elsif first_line_item.product.tags contains 'Skistøvler' -%}
          {%- assign collection_picker = section.settings.collections_skistovler  -%}
          {%- assign dynamic_heading =  'cart.general.skistovler' | t -%} 
        {%- else -%}
            {%- assign collection_picker = section.settings.collections -%}
            {%- assign dynamic_heading = 'cart.general.gear' | t -%} 
        {%- endif -%} 


        
        {%- if collection_picker.count > 0 -%}
          <div class="cart-drawer__recommendations" id="drawerRecommend">
            <div class="v-stack gap-2.5 sm:gap-4">
              {%- capture carousel_id -%}cart-drawer-recommendations{%- endcapture -%}

              {%- if section.settings.recommendations_title != blank or collection_picker.count > 1 -%}
                <div class="h-stack justify-between gap-4">
                  {%- if section.settings.recommendations_title != blank -%}
                    <p class="h5">{{ section.settings.recommendations_title | escape }} {{ dynamic_heading }}</p>
                  {%- endif -%}

                  {%- if collection_picker.count > 1 -%}
                    <div class="h-stack gap-2 hidden sm:flex">
                      <button is="prev-button" class="circle-chevron hover:colors" aria-controls="{{ carousel_id }}" aria-label="{{ 'general.accessibility.previous' | t | escape }}" disabled>{%- render 'icon' with 'chevron-left-small', direction_aware: true -%}</button>
                      <button is="next-button" class="circle-chevron hover:colors" aria-controls="{{ carousel_id }}" aria-label="{{ 'general.accessibility.next' | t | escape }}">{%- render 'icon' with 'chevron-right-small', direction_aware: true -%}</button>
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- assign horizontal_products_blends = true -%}
              {%- assign product_card_background = section.settings.product_card_background | default: product.settings.product_card_background -%}

              {%- if product_card_background != 'rgba(0,0,0,0)' and product_card_background != blank and product_card_background != settings.dialog_background -%}
                {%- assign horizontal_products_blends = false -%}
              {%- endif -%}

              <scroll-carousel selector=".horizontal-product" id="{{ carousel_id }}" class="horizontal-product-list-carousel {% unless horizontal_products_blends %}separate{% endunless %} scroll-area bleed">
                <div class="horizontal-product-list {% if horizontal_products_blends %}divide-x{% else %}separate{% endif %}">
                  {%- for recommended_collection in collection_picker -%}
                    {%- render 'horizontal-collection', collection: recommended_collection, background: section.settings.product_card_background, text_color: section.settings.product_card_text_color -%}
                  {%- endfor -%}
                </div>
              </scroll-carousel>
            </div>
          </div>
        {%- endif -%}