<cart-drawer {% if request.design_mode %}handle-section-events{% endif %} class="cart-drawer drawer drawer--lg" id="cart-drawer">
  {%- if cart.item_count == 0 -%}
    <button is="close-button" aria-label="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>

    <div class="empty-state align-self-center">
      <div class="empty-state__icon-wrapper">
        {%- render 'icon' with 'cart', width: 32, height: 32, stroke_width: 1 -%}
        <span class="count-bubble count-bubble--lg">0</span>
      </div>

      <div class="prose">
        <p class="h5">{{ 'cart.general.empty' | t }}</p>

        {%- assign button_content = 'cart.general.continue_shopping' | t -%}
        {%- render 'button', href: settings.cart_empty_button_link, size: 'xl', content: button_content -%}
      </div>
    </div>
  {%- else -%}
    <div>
      <div class="cart-drawer__top">
        <div class="h-stack items-center justify-between">
          <div class="h-stack gap-2 sm:gap-2.5">
            <p class="h5">{{- 'cart.general.title' | t -}}</p>
            <cart-count class="count-bubble count-bubble--md">{{ cart.item_count }}</cart-count>
          </div>

          <button type="button" is="close-button" class="drawer__close-icon">
            <span class="sr-only">{{ 'general.accessibility.close' | t }}</span>
            {%- render 'icon' with 'close' -%}
          </button>
        </div>

        {%- if settings.cart_show_free_shipping_threshold -%}
          {%- render 'free-shipping-bar' -%}
        {%- endif -%}
      </div>

      <div class="v-stack gap-6 sm:gap-8">
        <div class="cart-drawer__line-items">
          {%- for line_item in cart.items -%}
            {%- render 'line-item', line_item: line_item, show_desktop_quantity: true -%}
            {% if forloop.index == 1 %}
              {%- render 'drawer-recommendations'  -%}
            {% endif %}
          {%- endfor -%}
        </div>
        
   
      </div>
    </div>

    <div class="v-stack gap-3 sm:gap-4" slot="footer">
      <div class="v-stack gap-3">

      {%- if section.settings.show_bar != blank -%}
        <div class="v-stack gap-2 show_bar-container">

          {%- render 'udstyr-bar'  -%}

        </div>
      {%- endif -%}

        {% for discount_application in cart.cart_level_discount_applications %}
          <div class="h-stack gap-4 justify-between">
            <div class="badge">
              {%- render 'icon' with 'discount' -%} {{- discount_application.title -}}
            </div>

            <span class="text-subdued">-{{ discount_application.total_allocated_amount | money }}</span>
          </div>
        {% endfor %}

        <div class="h-stack gap-4 justify-between">
          <span class="h4">{{ 'cart.general.total' | t }}</span>
          <span class="h4">{{- cart.total_price | money_with_currency -}}</span>
        </div>

        {%- if section.settings.show_shipping_text -%}
          {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}</p>
          {%- elsif cart.taxes_included -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}</p>
          {%- elsif shop.shipping_policy.body != blank -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}</p>
          {%- else -%}
            <p class="text-subdued text-sm">{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}</p>
          {%- endif -%}
        {%- endif -%}

        {%- if section.settings.show_cart_note -%}
          <button type="button" class="justify-self-start" aria-controls="cart-drawer-note">
            <span class="link text-sm text-subdued">
              {%- if cart.note == blank -%}
                {{- 'cart.general.add_order_note' | t -}}
              {%- else -%}
                {{- 'cart.general.edit_order_note' | t -}}
              {%- endif -%}
            </span>
          </button>

          <cart-note-dialog id="cart-drawer-note" class="cart-drawer__note">
            <div class="cart-drawer__note-inner">
              <div class="v-stack gap-4 sm:gap-6">
                <p class="h5">{{ 'cart.general.order_note' | t }}</p>

                <cart-note class="v-stack gap-4">
                  {%- assign order_note = 'cart.general.order_note' | t -%}
                  {%- assign order_save_label = 'cart.general.save_note' | t -%}

                  {%- render 'input', name: 'note', multiline: 3, label: order_note, value: cart.note -%}

                  <div class="justify-self-start">
                    {%- render 'button', type: 'button', content: order_save_label, size: 'lg', is: 'close-button', secondary: true -%}
                  </div>
                </cart-note>
              </div>
            </div>
          </cart-note-dialog>
        {%- endif -%}
      </div>

      <form action="{{ routes.cart_url }}" method="POST" class="buy-buttons {% if section.settings.show_checkout_button %}buy-buttons--compact{% endif %}">
        {%- assign checkout_label = 'cart.general.checkout' | t -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
            {%- render block -%}

            {%- when 'drawer_termsbox' -%}
            <div {{ block.shopify_attributes }} class="wide-grid-col">
              {% render 'drawer-termsbox' , block: block %}
            </div>
          {%- endcase -%}
        {%- endfor -%}
        {%- if section.settings.show_view_cart_button or section.settings.show_checkout_button == false -%}
          <a href="{{ routes.cart_url }}" class="button button--xl {% if section.settings.show_checkout_button %}button--secondary{% endif %}" data-no-instant>
            {{- 'cart.general.view_cart' | t -}}
          </a>
        {%- endif -%}

        {%- if section.settings.show_checkout_button -%}
          <div class="checkout_terms-drawer">
          {%- render 'button', type: 'submit', content: checkout_label, icon: 'picto-lock', name: 'checkout', size: 'xl' -%}
          </div>
        {%- endif -%}
      </form>
    </div>
  {%- endif -%}
</cart-drawer>

{% schema %}
{
  "name": "Cart drawer",
  "blocks": [
    {
      "type": "drawer_termsbox",
        "name": "Drawer Termsbox",
        "limit": 1,
        "settings": [
          {
            "id": "prelink_text",
            "type": "text",
            "label": "Text before the link to the terms",
            "default": "I have read"
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "The link text of the terms",
            "default": "Terms and Conditions"
          },
          {
            "id": "postlink_text",
            "type": "text",
            "label": "Text after the link to the terms",
            "default": " and agree"
          },
          {
            "id": "terms_page",
            "type": "page",
            "label": "Terms and Conditions page"
          },
          {
            "id": "terms_notice",
            "type": "text",
            "label": "Terms notice",
            "default": "Du skal godkende handelsbetingelserne inden du kan gå til betaling."
          },
          {
            "type": "range",
            "id": "checkbox_scale",
            "min": 1,
            "max": 3,
            "step": 0.1,
            "label": "Checkbox size",
            "default": 1.2
          },
          {
            "type": "checkbox",
            "id": "mandatory",
            "label": "Customer must check the checkbox to checkout",
            "default": true
          },
          {
            "id": "internal_label",
            "type": "text",
            "label": "Internal label that will be shown in the order's Additional Details",
            "default": "Customer agreed to terms"
          }
        ]
      },
      {
        "type": "@app"
      }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "Cart drawer won't appear to your customers if you have set the cart type to Page in the global theme settings."
    },
    {
      "type": "paragraph",
      "content": "Free shipping bar can be configured in global cart settings."
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "label": "Show cart note",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shipping_text",
      "label": "Show shipping text",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_cart_button",
      "label": "Show view cart button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_checkout_button",
      "label": "Show checkout button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_bar",
      "label": "Show steps bar",
      "default": true
    },
    {
      "type": "header",
      "content": "Product recommendations"
    },
    {
      "type": "text",
      "id": "recommendations_title",
      "label": "Heading",
      "default": "Trending this month"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Recommendations Ski",
      "info": "Suggest additional products to your customers.",
      "limit": 4
    },    
    {
      "type": "collection_list",
      "id": "collections_udstyr",
      "label": "Recommendations udstyr",
      "info": "Suggest additional products to your customers.",
      "limit": 4
    },
    {
      "type": "collection_list",
      "id": "collections_snowboard",
      "label": "Recommendations Snowboard",
      "info": "Suggest additional products to your customers.",
      "limit": 4
    },
    {
      "type": "color",
      "id": "product_card_background",
      "label": "Product card background"
    },
    {
      "type": "color",
      "id": "product_card_text_color",
      "label": "Product card text"
    }
  ]
}
{% endschema %}